In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Для поиска оптимальных мест воспользуемся базой данных крупнейшей социальной сети, основанной на локациях — Foursquare.

Часть открытых данных есть, например, на сайте archive.org:

https://archive.org/details/201309_foursquare_dataset_umn

Скачаем любым удобным образом архив fsq.zip с этой страницы.

Нас будет интересовать файл checkins.dat. Открыв его, увидим следующую структуру:

In [2]:
#checkins = pd.read_csv('checkins.dat', header=0, skipinitialspace = True, names=['lat', 'lng'], usecols = [3,4], engine='python', sep = '|', skipfooter=1)
# for the big file- from terminal

In [3]:
data = pd.read_csv('./chekins1.csv')

In [4]:
data.head()

       id  user_id  venue_id   latitude   longitude
0  984222    15824      5222  38.895112  -77.036366
1  984234    44652      5222  33.800745  -84.410520
2  984291   105054      5222  45.523452 -122.676207
3  984318  2146539      5222  40.764462 -111.904565
4  984232    93870    380645  33.448377 -112.074037

Для удобной работы с этим документом преобразуем его к формату csv, удалив строки, не содержащие координат — они неинформативны для нас
С помощью pandas построим DataFrame и убедимся, что все 396634 строки с координатами считаны успешно.

In [5]:
data_chunk=data[['latitude','longitude']][:1000] # 100000 rows for faster calculation

In [6]:
data_chunk.shape

(1000, 2)

In [7]:
data_chunk.head()

    latitude   longitude
0  38.895112  -77.036366
1  33.800745  -84.410520
2  45.523452 -122.676207
3  40.764462 -111.904565
4  33.448377 -112.074037

In [8]:
X=data_chunk.values

In [9]:
X

array([[  38.8951118,  -77.0363658],
       [  33.800745 ,  -84.41052  ],
       [  45.5234515, -122.6762071],
       ...,
       [  33.5805955, -112.2373779],
       [  34.0625106, -118.1228476],
       [  33.4483771, -112.0740373]])

In [10]:
from sklearn.cluster import MeanShift

In [11]:
clf_ms = MeanShift(bandwidth=0.1, min_bin_freq=15, n_jobs=3) #bandwidth=0.1, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

In [12]:
clf_ms.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=15,
     n_jobs=3, seeds=None)

In [13]:
cluster_centers = clf_ms.cluster_centers_

Как мы помним, 20 баннеров надо разместить близ офисов компании. Найдем на Google Maps по запросу Carnival Cruise Line адреса всех офисов:

In [15]:
office_locations = {
    "Los Angeles":(33.751277, -118.188740),
    "Miami":(25.867736, -80.324116),
    "London":(51.503016, -0.075479),
    "Amsterdam":(52.378894, 4.885084),
    "Beijing":(39.366487, 117.036146),
    "Sydney":(-33.868457, 151.205134)
    }

In [36]:
def dist_2d(first, second):
    return np.sqrt((first[0] - second[0]) ** 2 + (first[1] - second[1]) ** 2)

def dist_to_offices(x):
    distances = [(x, dist_2d(x, y)) for key, y in office_locations.items()]
    return min(distances, key = lambda t: t[1])

In [37]:
closest_offices = map(dist_to_offices, cluster_centers)

In [38]:
sorted(closest_offices, key= lambda x: x[1])[:20]

[(array([ -33.8386344,  151.2071142]), 0.02988826965216029),
 (array([ 51.5175661 ,  -0.11498705]), 0.042102154633846506),
 (array([  33.84104925, -118.13295012]), 0.10569563388607491),
 (array([ 25.9756704, -80.2867501]), 0.11421928552643985),
 (array([ -33.9627271,  151.1334636]), 0.11842085116299746),
 (array([ 25.77772242, -80.23343005]), 0.12777474989962515),
 (array([ -33.9522629,  151.0321372]), 0.19222726571703244),
 (array([ 25.98518387, -80.15384217]), 0.20685062171185709),
 (array([  33.8668895, -118.3904915]), 0.23252939149385218),
 (array([  33.98260537, -118.10043853]), 0.24760848579996525),
 (array([  33.64435346, -117.95294754]), 0.25890293084278432),
 (array([  33.80702626, -117.88564267]), 0.30818171925266274),
 (array([  34.05674788, -118.24425441]), 0.31047432694263732),
 (array([ 26.13499313, -80.14189707]), 0.3234657864175034),
 (array([  34.04209415, -118.3685493 ]), 0.34191519284848954),
 (array([  34.11354788, -118.12942797]), 0.36709413395322182),
 (array([  34.0194543, -118.4911912]), 0.40422245436978066),
 (array([ 26.271192 , -80.2706044]), 0.40698923237667856),
 (array([  34.17317292, -118.29818788]), 0.43586122303909902),
 (array([  34.0667692, -117.882006 ]), 0.44002394823104313)]

In [40]:
Earth_radius=6372795

In [ ]:
dist=Earth_radius*arccos[sin(latitude_1)*sin(latitude_2)+cos(latitude_1)*cos(latitude_2)*cos(longitude_1-longitude_2)]

In [47]:
def dist(loc1,loc2):
    return Earth_radius*np.arccos[np.sin(loc1[0])*np.sin(loc2[0])+np.cos(loc1[0])*np.cos(loc2[0])*np.cos(loc1[1]-loc2[1])]

In [ ]:
dist()

In [49]:
def disttooffices(x):
    distances = [(x, dist(x, y)) for key, y in office_locations.items()]
    return min(distances, key = lambda t: t[1])

In [50]:
closest_offices = map(disttooffices, cluster_centers)
sorted(closest_offices, key= lambda x: x[1])[:20]

TypeError: 'numpy.ufunc' object is not subscriptable

In [44]:
import math
math.sin(90)
math.sin(5)
np.sin(5)
np.sin(90)

0.89399666360055785

In [ ]:
dist=Earth_radius*np.arccos(np.sin(loc1[0])*np.sin(loc2[0]+np.cos(loc1[0]*np.cos(loc2[0])*))